html,body{
	height:100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
a{ color: rgba(255, 255, 255, 0.6);outline: none;text-decoration: none;-webkit-transition: 0.2s;transition: 0.2s;}
a:hover,a:focus{color:#74777b;text-decoration: none;}
.htmleaf-container{
	margin: 0 auto;
}
.zzsc-content{
	padding: 1em;
}

.column_title{
	width: 200px;
	height: 200px;
	position: absolute;
	text-align: center;
	line-height: 200px;
	font-size: 40px;
	color:white;
	cursor:pointer;
}
.column_parent{
	width: 400px;
	height: 400px;
	top:50%;
	left:50%;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}