html,body{
	height:100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
a{ color: rgba(255, 255, 255, 0.6);outline: none;text-decoration: none;-webkit-transition: 0.2s;transition: 0.2s;}
a:hover,a:focus{color:#74777b;text-decoration: none;}
.htmleaf-container{
	margin: 0 auto;
}
.zzsc-content{
	padding: 1em;
}
.column_title:hover{
	width: 260px;
	height: 45px;
	background: #ffffff90;
	position: absolute;
	text-align: center;
	line-height: 45px;
}
.column_title{
	width: 260px;
	height: 45px;
	background: #ffffff60;
	position: absolute;
	text-align: center;
	line-height: 45px;
}
.column_divider{
	position: absolute;
	width: 260px;
	height: 1px;
	background: #ffffff90;
}
.column_parent{
	width: 260px;
	position: absolute;
}